.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: linear-gradient(0deg, rgba(65,71,175,1) 0%, rgba(62,45,253,1) 100%);
  box-shadow: 1px 6px 20px 0px #000;
}

.header__left h1 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.header__right--login {
  color: #fff;
}

.header__right--login:hover {
  color: #fff !important;
}

.header__right--trial {
  background-color: #000;
}

footer {
  background-color: #1e1e1e;
  padding: 4rem 4rem;
  height: 30vh;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}

.footer__navigation {
  display: flex;
  align-items: center;
  color: #fff;
}

.footer__navigation a{
  color: #fff;
  text-decoration: none;
  margin: 0 0.6rem;
}

.footer__copyright {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem 0;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__links img {
  height: 38px;
  margin-right: 2rem;
}